.main-container {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
}
.tabs {
    display: flex;
    width: 100vw;
    min-height: 50px;
    background-color: #117a8b;
    color: #ffffff
}
.tabs a {
    color: white
}
.tabs a:hover{
    color: #ffffff
}
.userTabs {
    width: 80vw;    
}
.tab {
    padding:20px;
}
.addButton {
    margin-top: 10px;
    width: 250px
}
.section {
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal-dialog {
    max-width: none;
    margin:60px;
}